---
layout: post
date: 2018-08-08
tags: react
feelings: happy
title: reactnyc test run
comments: true
description: test run
---

i gave a 7/10 test run at reactnyc today. it was good but not as good as doing a live coding bit.

https://www.youtube.com/watch?v=xTHR0IN1c6s

- 44.35
- 52.00 - verbal walk through of reactive-react core
- 55.00 - interoperability stumble
- 57.00 - live demo of low pri vs hi pri
- 59.00 - first intro of queue
- 1.01.00 - time slicing explanation of choking
- 1.02.00 - side effects slide has blank box
- 1.03 - scheduler
- 1.04 - push requests -> make it more of a joke
- 1.05 - NAIL THE END

add yak joke
